.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.w3l_offers {
  width: 30%;
}

.agile-login {
  width: 60%;
}

@media (max-width: 667px) {
  .w3l_offers {
    width: 55%;
  }
}

@media (max-width: 667px) {
  .agile-login {
    width: 30%;
  }
}

@media (max-width: 700px) {
  .w3l_offers {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .agile-login {
    width: 45%;
  }
}

@media (max-width: 900px) {
  .w3l_offers {
    width: 35%;
  }
}

@media (max-width: 900px) {
  .agile-login {
    width: 50%;
  }
}
.login .fgt-password label:hover,
.login .change-pw {
  text-decoration: underline;
  cursor: pointer;
}

.forgot b:hover {
  color: #d8703f;
  cursor: pointer;
}

.login .forgot-pw > p {
  text-align: left;
}

.navbar-nav .row.second-list {
  margin-top: 20px;
}

.login .fgt-password {
  cursor: pointer;
}

.PPMiniCart {
  display: block !important;
}

.modal-dialog {
  width: 620px;
  margin: 75px auto 30px;
  max-height: 350px;
}

.modal-title {
  margin-left: 20px;
}

.PPMiniCart ul {
  width: 380px;
  margin: 5px 0 20px;
  padding: 10px;
  list-style-type: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}

.PPMiniCart form {
  padding: 0px 20px 10px 20px !important;
}

.PPMiniCart .minicart-submit {
  display: block;
  right: 10px;
  min-width: 153px;
  height: 33px;
  padding: 0 9px;
  border: 1px solid #ffc727;
  border-radius: 5px;
  color: #000;
  text-shadow: 1px 1px 1px #fff6e9;
  cursor: pointer;
}

.PPMiniCart .minicart-checkout {
  padding-top: 5px;
  background: #ffaa00;
  background: -moz-linear-gradient(top, #fff6e9 0%, #ffaa00 100%);
  background: -webkit-linear-gradient(top, #fff6e9 0%, #ffaa00 100%);
  background: -o-linear-gradient(top, #fff6e9 0%, #ffaa00 100%);
  background: -ms-linear-gradient(top, #fff6e9 0%, #ffaa00 100%);
  background: linear-gradient(to bottom, #fff6e9 0%, #ffaa00 100%);
}

.PPMiniCart .minicart-btn {
  margin-left: auto;
  margin-right: 0;
}

.PPMiniCart .clearfix {
  border-bottom: solid 1px #c9c9c9;
  margin-bottom: 15px;
  padding-top: 5px;
}

.PPMiniCart .minicart-closer {
  float: right;
  margin: -12px -10px 0;
  padding: 10px;
  background: 0;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.PPMiniCart .minicart-item {
  clear: left;
  padding: 6px 0;
  min-height: 25px;
}

.PPMiniCart .minicart-details-name {
  float: left;
  width: 60%;
}
.PPMiniCart .minicart-item a {
  color: #333;
  text-decoration: none;
}
.PPMiniCart .minicart-attributes {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #999;
  font-size: 12px;
  line-height: 22px;
}

.PPMiniCart .minicart-attributes li {
  display: inline;
}

.PPMiniCart .minicart-details-quantity {
  float: left;
  width: 13%;
}

.PPMiniCart .minicart-quantity {
  width: 60px;
  height: 25px;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  font-size: 13px;
  text-align: right;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
}

.PPMiniCart .minicart-details-action {
  float: left;
  width: 12%;
}

.PPMiniCart .minicart-inline-btn {
  width: 22px;
  height: 22px;
  margin: 2px 2px;
  padding: 2px 0px 0px 0px;
  background: #b7b7b7;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  opacity: 0.7;
  cursor: pointer;
}

.PPMiniCart .minicart-apply {
  background: #3399cc !important;
  border: 1px solid #3399cc !important;
  opacity: 1 !important;
  outline: none;
}

.PPMiniCart .minicart-remove {
  background: #ee1d4a !important;
  border: 1px solid #ee1d4a !important;
  opacity: 1 !important;
  outline: none;
}

.PPMiniCart .minicart-subtotal {
  padding-left: 10px !important;
}

.PPMiniCart .minicart-details-price {
  float: left;
  width: 15%;
  text-align: right;
}

.PPMiniCart .minicart-footer {
  width: 100% !important;
  display: flex;
}

#myCarousel .item.active img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

td.invert-image {
  width: 30%;
}